* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

#main {
    display: grid;
}

#main .separate {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;

    gap: 10px;
}
.separate::after, .separate::before {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}